.manage-certification-documents {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;

    .background {
        width: 100%;
        height: 100vh;
        z-index: 10;
        background-color: black;
        opacity: 0.8;

    }

    .container {
        margin-top: 2rem;
        background-color: rgb(36, 196, 89);
        border: 3px solid white;
        border-radius: 2rem;
        padding: 2rem;
        opacity: 1;
        position: absolute;
        min-width: 30rem;
        min-height: 25rem;
        z-index: 20;

        .icons {
            &:hover {
                transform: scale(1.25);
                transition: 0.1s;
                cursor: pointer;
            }
        }

        .actions {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 4rem;
        }

        .container-monuments {
            display: flex;
            padding: 0.5rem 0;
            // max-width: 20rem;
            // border: 1px dashed black;

            .monument {
                border: 1px solid black;
                padding: 0.25rem 0.35rem;
                border-radius: 1rem;
                margin: 0 0.2rem;


                &:hover {
                    background-color: rgba(214, 214, 214, 0.473);
                    cursor: pointer;
                }
            }

            .monument-active {
                border: 1px solid black;
                padding: 0.25rem 0.35rem;
                border-radius: 1rem;
                background-color: white;
                margin: 0 0.2rem;

                &:hover {
                    background-color: rgba(214, 214, 214, 0.473);
                    cursor: pointer;
                }
            }
        }
    }
}