.dashboard {
    width: 100%;
    height: 100vh;
    background-color: rgb(146, 204, 206);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .slight-side-margin {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .wrapper-project {
        display: grid;
        grid-template-columns: 8rem 1fr 8rem;
        position: relative;

        .left-container {
            border: 1px solid black;
            min-height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: rgb(81, 182, 126);
            width: 8rem;
            max-width: 8rem;
            overflow: hidden;

            .row-left {
                width: 100%;
                text-align: left;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
            }
        }

        .right-container {
            border: 1px solid black;
            min-height: 10rem;
            background-color: rgb(81, 182, 126);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            max-width: 8rem;
            overflow: hidden;

            .badge {
                width: 90%;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: 0.1s;
                }
            }
        }
    }

    .wrapper-footer {
        display: flex;
        justify-content: space-between;
        // min-height: 5rem;

        .cell-footer {
            border: 1px solid black;
            min-height: 1.5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            // font-size: 0.5rem;
        }

    }

    .starting {
        background-color: rgb(81, 182, 126);
    }

    .ending {
        background-color: rgb(81, 182, 126);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
    }

    .actual {
        background-color: rgb(42, 192, 29);
    }

    .rotate {
        // text-transform: rotate(90deg);
        transform: rotate(-90deg);
    }

    .clicable {
        // background-color: rgb(183, 195, 196);

        &:hover {
            cursor: pointer;
            text-decoration: underline;

        }
    }

    .plane-icons {
        width: 1.5rem;
        transform: rotate(45deg);
    }
}