.p02-c05-c01-milestone-tag {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    // z-index: 10;

    .p02-c05-c01-test {
        // background-color: chocolate;
        width: 100%;
        // height: 100%;
        // border: 1px solid black;
        position: absolute;
        top: 23px;
        z-index: 13;
    }

    .p02-c05-c01-tasks-cont {
        background-color: brown;
        // position: absolute;
        // top: 0;
    }

    .p02-c05-c01-milestone-line {
        background-color: rgba(181, 252, 252, 0.507);
        width: 100%;
        height: 23px;
        position: absolute;
        // top: 10px;
    }

    .p02-c05-c01-dragable {
        // border-radius: 8px;
        position: relative;
        z-index: 10;

        &:hover {
            background-color: rgb(42, 165, 42);
            color: rgb(255, 255, 255);
        }
    }
    
    .p02-c05-c01-not-dragable {
        // border-radius: 8px;
        position: relative;
        z-index: 10;

        &:hover {
            // background-color: rgb(136, 83, 83);
            color: black;
        }
    }

    .p02-c05-c01-context-container {
        padding-inline-start: 0;
        // padding: 0.1rem 0.4rem;
        // position: absolute;
        height: fit-content;
        width: 100%;
        line-height: normal;
        list-style-type: none;
        background-color: rgb(153, 153, 173);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 3px;
        z-index: 15;
        padding: 2px 2px;

        .p02-c05-c01-context-item {
            padding: 1px 2px;
            // width: 90px;
            color: white;

            .p02-c05-c01-badge {
                width: 90px;
                // background-color: azure;
                // padding: 0px 1px;
    
                &:hover {
                    cursor: pointer;
                    background-color: black;
                    color: white;
                    // transform: scale(1.1);
                    // transition: 0.1s;
                    // text-align: ;
                }
            }
        }
    }

    // .p02-c05-c01-tasks {
    //     color: black;
    //     display: flex;
    //     // flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     position: absolute;
    //     height: 20px;
    //     font-size: 10px;
    //     z-index: 10;
        
    //     .p02-c05-c01-task-bar {
    //         background-color: rgb(150, 150, 150);
    //         height: 10px;
    //         width: 100%;
    //         border: 2px solid black;

    //         &:hover {
    //             cursor: pointer;
    //             // background-color: rgb(44, 44, 44);
    //             // color: white;
    //             border: 2px dotted rgb(172, 241, 81);
    //         }

    //         .p02-c05-c01-bar-progress {
    //             background-color: rgb(172, 241, 81);
    //             height: 6px;
    //         } 
    //     }
    // }
}