.text-01 {
    width: 120px;
}

.label-01 {
    padding: 0 5px;
}

.button-01 {

}

// X - button to close formular
.button-02 {
    font-weight: bold;
    padding: 1px 5px;
    background-color: #44759D;
    color: white;
    border: none;
    margin: 0.2rem;
    border-radius: 25%;

    &:hover {
        // color: rgb(201, 201, 201);
        background-color: #2c5c83;
    }
}

// style for general icons
.icons-01 {
    padding: 3px 5px;

    &:hover {
        cursor: pointer;
    }
}