.p01-landing-page {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .p01-container {
        width: 25rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;

        .p01-input {
            width: 25rem;
        }
    }
}