.p02-c05-c01-task-tag {
    color: black;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10px;
    font-size: 10px;
    // z-index: 1;
    
    .box-container {
        position: relative;
        // position: absolute;
        z-index: 1;

        .box {
            position: absolute;
            background-color: red;
            // background-color: rgba(64, 184, 34, 0.432);
            left: -10px;
            z-index: 1;
        }
    }

    .p02-c05-c01-context-task-container {
        padding-inline-start: 0;
        
        // padding: 0.1rem 0.4rem;
        position: absolute;
        height: fit-content;
        // width: 100%;
        // left: -80px;
        top: 5px;
        width: 80px;
        line-height: normal;
        list-style-type: none;
        background-color: rgb(153, 153, 173);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 3px;
        z-index: 30;
        padding: 2px 2px;

        .p02-c05-c01-context-task-item {
            padding: 1px 2px;
            // width: 90px;
            color: white;
            // list-style-type: none;

            .p02-c05-c01-task-badge {
                min-width: 40px;
                // background-color: azure;
                // padding: 0px 1px;
    
                &:hover {
                    cursor: pointer;
                    background-color: black;
                    color: white;
                    // transform: scale(1.1);
                    // transition: 0.1s;
                    // text-align: ;
                }
            }
        }
    }

    .p02-c05-c01-task-bar {
        background-color: rgb(150, 150, 150);
        height: 10px;
        width: 100%;
        // border: 2px solid black;

        &:hover {
            cursor: pointer;
            // background-color: rgb(44, 44, 44);
            // color: white;
            border: 2px dotted rgb(172, 241, 81);
        }

        .p02-c05-c01-bar-progress {
            height: 6px;
        } 

    }

    .p02-c05-c01-task-label {
        padding-left: 2px;
        // height: 10px;
        
        // &:hover {
        //     font-weight: bold;
        //     background-color: aquamarine;
        // }

        // &:hover {
        //     cursor: pointer;
        // }
    }
}