.milestone-tag {
    position: relative;

    .dragable {
        // border-radius: 8px;

        &:hover {
            background-color: rgb(42, 165, 42);
            color: rgb(255, 255, 255);
        }
    }
    
    .not-dragable {
        // border-radius: 8px;

        &:hover {
            // background-color: rgb(136, 83, 83);
            color: black;
        }
    }

    .test-div {
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: 5rem;
        background-color: chartreuse;
        z-index: 50;
    }

    .context-container {
        padding-inline-start: 0;
        // padding: 0.1rem 0.4rem;
        height: fit-content;
        line-height: normal;
        list-style-type: none;
        background-color: rgb(153, 153, 173);
        border: 1px solid white;

        li {
            padding: 3px 5px;
        }

        .badge {
            width: 100%;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.1s;
                // text-align: ;
            }
        }
    }

    .tasks {
        position: absolute;

    }

}