.milestone-tag {
    position: relative;

    .dragable {

        &:hover {
            background-color: brown;
        }
    }

    .test-div {
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: 5rem;
        background-color: chartreuse;
        z-index: 50;
    }

    .context-container {
        padding-inline-start: 0;
        // padding: 0.1rem 0.4rem;
        height: fit-content;
        line-height: normal;
        list-style-type: none;
        background-color: rgb(153, 153, 173);
        border: 1px solid white;

        li {
            padding: 0.4rem 0.25rem;
        }

        .badge {
            width: 100%;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.1s;
            }
        }
    }

}