.p02-c05-project {
    display: grid;
    grid-template-columns: 8rem 1fr;
    position: relative;

    .p02-c05-left-container {

        .p02-c05-row-left {

            &:hover {
                cursor: pointer;
                background-color: #797474;
                color: #F1F1F1;
            }
        }

        .p02-c05-todayColumn {
            background-color: rgba(172, 255, 47, 0.253);
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
        }
    }
    
}